In [12]:
# import the needed libraries and datasets
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

In [15]:
print(df.head())
df.sub(df.mean(axis=1),axis=0)

          0         1         2
0  0.010215  0.345914  0.010538
1  0.976985  0.419931  0.567242
2  0.497087  0.949243  0.902877
3  0.029218  0.100901  0.260741
4  0.139619  0.146063  0.459402

          0         1         2
0 -0.112007  0.223692 -0.111685
1  0.322266 -0.234788 -0.087477
2 -0.285982  0.166174  0.119808
3 -0.101069 -0.029386  0.130454
4 -0.108742 -0.102298  0.211040

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum? (Find that column's label.)

In [20]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))

In [21]:
df.sum(axis=1).idxmin()

3